.program-level-badge {
  color: var(--bs-white);
}

.program-level-badge--graduate {
  background-color: var(--badge-program-level);
}

.program-level-badge--undergraduate {
  background-color: var(--badge-program-level);
}
