.ds-item-page-mixed-author-field {
  font-weight: 500;
}
a[title=Lattes], a[title=ORCID] {
  text-decoration: none;
}
a[title=Lattes] img, a[title=Lattes] i, a[title=ORCID] img, a[title=ORCID] i {
  vertical-align: middle;
}
