@if (item.allMetadata(personMetadataFields).length > 0) {
  <ds-metadata-field-wrapper [hideIfNoTextContent]="false" [label]="label | translate">
    <div class="d-inline-block">
      @for (person of item.allMetadata(personMetadataFields); track person; let i = $index; let last = $last) {
        @if (person.authority) {
          <a class="ds-item-page-mixed-author-field d-inline-flex align-items-center" 
             [routerLink]="['/items', person.authority]">{{ person.value }}</a>
        } @else {
          <a class="ds-item-page-mixed-author-field d-inline-flex align-items-center" 
             [routerLink]="['/search']" [queryParams]="{ query: person.value }">{{ person.value }}</a>
        }

        <!-- Link Lattes -->
        @if (item.allMetadata(lattesMetadataFields)[i]?.value; as lattes) {
          <a [href]="lattes.startsWith('http') ? lattes : 'https://lattes.cnpq.br/' + lattes"
             target="_blank" rel="noopener noreferrer" class="ms-1" title="Lattes">
            <img src="assets/uricer/images/lattes.logo.icon.svg" alt="Lattes" width="24" height="24" />
          </a>
        }

        <!-- Link ORCID -->
        @if (item.allMetadata(orcidMetadataFields)[i]?.value; as orcid) {
          <a [href]="orcid.startsWith('http') ? orcid : 'https://orcid.org/' + orcid"
             target="_blank" rel="noopener noreferrer" class="ms-1" title="ORCID">
            <img src="assets/uricer/images/orcid.logo.icon.svg" alt="ORCID" width="22" height="22" />
          </a>
        }

        @if (!last) {
          <span class="me-2">; </span>
        }
      }
    </div>
  </ds-metadata-field-wrapper>
}
