@if (showBackButton$ | async) {
  <ds-results-back-button [back]="back"></ds-results-back-button>
}
@if (iiifEnabled) {
  <div class="row">
    <div class="col-12">
      <ds-mirador-viewer id="iiif-viewer"
        [object]="object"
        [searchable]="iiifSearchEnabled"
        [query]="iiifQuery$ | async">
      </ds-mirador-viewer>
    </div>
  </div>
}

<div class="d-flex flex-row align-items-center">
  <ds-item-page-title-field [item]="object" class="me-auto" />
  <ds-dso-edit-menu />
</div>
<div class="row py-2">
  <div class="col-xs-12 col-md-4">
    @if (!(mediaViewer.image || mediaViewer.video)) {
      <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
        <ds-thumbnail [thumbnail]="object?.thumbnail | async" />
      </ds-metadata-field-wrapper>
    }
    @if (mediaViewer.image || mediaViewer.video) {
      <div class="mb-2">
        <ds-media-viewer [item]="object" />
      </div>
    }
    <ds-item-page-file-section [item]="object" />
    <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Person'"
      [metadataFields]="['dc.contributor.author', 'dc.creator']"
      [label]="'item.page.authors' | translate" />
    <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
      [parentItem]="object"
      [itemType]="'Advisor'"
      [metadataFields]="['dc.contributor.advisor', 'dc.contributor.advisorco']"
      [label]="'item.page.advisors' | translate" />
    <ds-generic-item-page-field [item]="object"
      [fields]="['journal.title']"
      [label]="'item.page.journal-title'" />
    <ds-generic-item-page-field [item]="object"
      [fields]="['journal.identifier.issn']"
      [label]="'item.page.journal-issn'" />
    <ds-generic-item-page-field [item]="object"
      [fields]="['journalvolume.identifier.name']"
      [label]="'item.page.volume-title'" />
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.publisher']"
      [label]="'item.page.publisher'" />
    <ds-item-page-date-field [item]="object" />
  </div>

  <div class="col-xs-12 col-md-8">
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description.resumo']"
      [label]="'item.page.resumo'" />
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.description']"
      [label]="'item.page.resumo'" />
    <ds-item-page-abstract-field [item]="object" />
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.subject']"
      [separator]="', '"
      [label]="'item.page.subject'" />
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.degree.grantor']"
      [label]="'item.page.degree.grantor'" />
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.degree.program']"
      [label]="'item.page.degree.program'" />
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.degree.department']"
      [label]="'item.page.degree.department'" />
    <ds-generic-item-page-field [item]="object"
      [fields]="['dc.identifier.citation']"
      [label]="'item.page.citation'" />
    @if (geospatialItemPageFieldsEnabled) {
      <ds-geospatial-item-page-field [item]="object"
        [label]="'item.page.places'"
        [pointFields]="['dcterms.spatial']"
        [bboxFields]="['dcterms.spatial']"
        [cluster]="true"
      />
    }
    <ds-item-page-uri-field [item]="object"
      [fields]="['dc.identifier.uri']"
      [label]="'item.page.uri'" />
    <ds-item-page-collections [item]="object" />
    <ds-item-page-uri-field [item]="object"
      [fields]="['coar.notify.endorsedBy']"
      [label]="'item.page.endorsement'" />
    <ds-item-page-uri-field [item]="object"
      [fields]="['datacite.relation.isReviewedBy']"
      [label]="'item.page.review'" />
    <ds-item-page-uri-field [item]="object"
      [fields]="['datacite.relation.isSupplementedBy']"
      [label]="'item.page.supplemented'" />
    <ds-item-page-uri-field [item]="object"
      [fields]="['datacite.relation.isReferencedBy']"
      [label]="'item.page.referenced'" />
    <ds-item-page-cc-license-field [item]="object" [variant]="'full'" />
    <div>
      <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button" role="button" tabindex="0">
        <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
      </a>
    </div>
  </div>
</div>
